/* Import the font from Google */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* Declaring the variables (colors & font) */
:root {
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
  --redHat: 'Red Hat Display', sans-serif;
}

/* Reseting the stylesheet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Defining the body */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--paleBlue);
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
  font-family: var(--redHat);
}

main {
  width: 335px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 6px 10px -6px rgb(0, 0, 0, 0.2);
}

/* Container inside main */
#container {
  padding: 0 35px;
}

/* Top Image */
#pic img {
  width: 335px;
}

/* Section of the description text */
#text{
  text-align: center;
}

#text h1 {
  color: var(--darkBlue);
  margin: 30px 0;
  font-weight: 900;
}

#text p {
  font-size: 16px;
  color: var(--desaturatedBlue);
}

/* Section of the music icon */
#music {
  display: flex;
  align-items: center;
  justify-content: space-arround;
  gap: 20px;
  margin: 30px 0;
  background-color: var(--veryPaleBlue);
  border-radius: 5px;
  padding: 15px;
}

#music h2 {
  color: var(--darkBlue);
  font-size: 13px;
  font-weight: 900;
}

#music p {
  color: var(--desaturatedBlue);
  font-size: 13px;
}

a {  /* Change */
  margin-left: 20px;
  font-size: 13px;
  font-weight: 700;
  color: var(--brightBlue);
}

a:hover {
  cursor: pointer;
  color: hsl(245deg 75% 52% / 60%);
  text-decoration: none;
}

/* Section of the buttons */
#action {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

#pay {
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-family: var(--redHat);
  background-color: var(--brightBlue);
  border: none;
  box-shadow: 0 10px 20px -10px var(--brightBlue);
}

#pay:hover {
  cursor: pointer;
  background-color: hsl(245deg 75% 52% / 60%);
}

#cancel {
  background-color: transparent;
  color: var(--desaturatedBlue);
  border: none;
  font-family: var(--redHat);
  font-weight: 700;
}

#cancel:hover {
  cursor: pointer;
  color: var(--darkBlue);
}

/* Different background pattern for larger screens */
@media only screen and (min-width: 600px) {
  body {
    background-image: url("../images/pattern-background-desktop.svg");
  }
}